*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 9rem;
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: none;
    background-color: rgb(191, 220, 245);
    color: rgb(19, 104, 189);
    display: none;
}
.headerleft{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.headercentre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    display: none;
}
.centre{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    color: rgb(100, 100, 100);
}
.searchbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    border-radius: 0.3rem;
    border-color: grey;
    color: grey;
    background-color: transparent;
    display: none;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-color: rgb(227, 226, 226);
}
.headerright{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainleft{
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 1rem;
}
.verified{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
}
#ver{
   font-size: 16px; 
}
.video{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
#getbutton{
    color: rgb(250, 77, 77);
    background-color: rgb(243, 199, 199);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 16px;
}
#video{
    color: black;
    font-size: 19px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    background-color: rgb(253, 239, 241);
    padding-bottom: 2rem;
}
.box {
    width: 250px;
    height: 100px;
    background-color:rgb(246, 221, 95) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .coursebox{
    width: 50px;
    
  }
  .boxtutor{
    width: 250px;
    height: 100px;
    background-color:rgb(247, 243, 235) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .boxonline{
    width: 250px;
    height: 100px;
    background-color:rgb(255, 255, 255) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0.3px solid rgb(243, 240, 243);
  }
  .boxcertificates{
    width: 250px;
    height: 100px;
    background-color:rgb(159, 158, 158) ;
    padding: 10px;
    margin: 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0.3px solid rgb(243, 240, 243);
  }
  .courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.webdesign{
    background-color: rgb(38, 98, 217);
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.3rem;
    border: none;
}
.popularbox{
    width: 550px;
    height: 50px;
    background-color:rgb(174, 173, 173) ;
   padding-top: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
}
.dev{
    background-color: transparent;
    border: none;
    color: rgb(38, 98, 217);
}
.pops{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding-top: 3rem;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)   {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)   {
    /* Your styles for medium screens go here */
    .firstbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 1000px;
    }
    .secondbox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 1000px;
    }
    }


/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)   {
    /* Your styles for large screens go here */


}


/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .searchbutton{
        display: flex;
    }
    #menu{
        display: none;
    }
    .headercentre{
    display: flex;
}
.category{
    display: flex;
}
#courses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.popularbox{
    width: 1300px;
}
}